/* phần viết chung cho các hộp thoại dạng dialog */
.dialog {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    z-index: 1;
    width: 35rem;
    padding: 8px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
    cursor: default;
    border-radius: 2px;
    transform-origin: 90% top;
    will-change: transform, opacity;
}

.dialog-item {
    padding: 4px 4px;
    margin: 4px 0;
}

.dialog-item:hover {
    background-color: #f5f5f5;
}

.dialog-title {
    font-size: 1.6rem;
    color: var(--title-opacity);
    padding: 12px 0;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 12px;
}

.dialog::before {
    content: "";
    position: absolute;
    right: 12px;
    top: -10px;
    border-width: 0 16px 16px;
    border-style: solid;
    color: #fff;
    border-color: currentColor transparent currentColor transparent;
}

.dialog::after {
    position: absolute;
    content: '';
    width: 105px;
    height: 30px;
    top: -10px;
    right: 0;
}

.dialog span {
    color: #111;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}

/* phần viết chung cho input phụ */
.sub-input {
    position: absolute;
    z-index: 1;
    top: 105%;
    padding: 12px 8px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 2px;
    display: none;
}

.sub-input::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 40px;
    top: -8px;
    right: 0;
}

/* phần viết chung cho thẻ chứa sản phẩnm */
.card-product {
    display: block;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2px;
    text-decoration: none;
}

.product-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.card-product:hover {
    animation: hoverCard 0.2s forwards;
}

.card-product img {
    width: 100%;
    height: 200px;
}

.card-text {
    padding: 4px 8px;
    color: #555;
}

.card-info {
    font-size: 1.4rem;
    padding: 8px 0;
    font-weight: 500;
}

.card-info p {
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card-price {
    font-size: 1.3rem;
    padding-bottom: 8px;
}

.old-price {
    text-decoration: line-through;
}

.sale-price {
    font-size: 1.8rem;
    color: var(--shopColor);
    font-weight: 500;
}

.card-quality {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
}

.card-quality-heart {
    color: var(--shopColor);
    font-size: 1.3rem;
}

.card-quality-star {
    align-items: center;
    font-size: 0.8rem;
}

.card-quality-star i {
    color: var(--subShopColor);
}

.card-quality-star .solded {
    font-size: 1.2rem;
    padding-left: 4px;
    font-weight: 450;
}

.card-made {
    justify-content: space-between;
    padding-top: 24px;
    font-size: 1.3rem;
    font-weight: 200;
}

/* phần hiệu ứng dùng trong trang web */
@keyframes hoverCard {
    to {
        transform: translateY(-2px);
    }
}

@keyframes showDialog {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes showHistory {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Phần nội dung cụ thể trng web */
/* phần header của trang web */
#header {
    background-image: linear-gradient(0, #fe6433, var(--shopColor));
    padding: 4px 0px;
}

#header a {
    color: #fff;
    text-decoration: none;
}

#header a:hover {
    color: rgba(204, 204, 204, 0.701);
    transition: .3s;
}

#header .header-with {
    padding: 24px 0 12px;
}

.header-with-search-mobile {
    display: none;
}

#header .header-with_icon {
    padding-right: 48px;
}

#header .header-with_icon a:hover {
    color: #fff;
}

.header-nav {
    font-size: 1.4rem;
    color: #fff;

}

.nav-main {
    font-weight: 300;
}

.header-nav-left a:first-child {
    padding-right: 12px;
}

.header-nav-left .header-social {
    padding-left: 12px;
    width: 120px;
    position: relative;
}

.header-nav-left .header-social::before {
    position: absolute;
    content: '';
    left: 0;
    border-left: 1px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}

.header-nav-left .header-social a {
    padding-left: 8px;
}

.header-nav-right {
    width: 100%;
    justify-content: flex-end;
}

.header-nav-right a {
    padding-left: 16px;
}

.header-bell {
    position: relative;
}

.header-bell:hover {
    color: #111;
}

.header-bell-dialog {
    padding: 0;
    display: none;
    z-index: 3;
}

h3 .header-bell-dialog-title {
    font-size: 1.4rem;
    color: var(--title-opacity) !important;
}

.header-bell:hover .header-bell-dialog {
    display: block;
    animation: showDialog 0.2s;
}

.header-bell-item {
    display: block;
    cursor: pointer;
    background-color: #dfc3c339;
    padding: 8px 12px;
    margin: 0;
}

.header-bell-item p {
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header-bell-p1 {
    font-size: 1.6rem;
    color: var(--text-color);
}

.header-bell-p2 {
    font-size: 1.3rem;
    font-weight: 200;
    color: var(--text-color);
    margin-top: 12px;
}

#header .dialog-control {
    display: block;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    color: var(--text-color) !important;
    border-top: 0.3px solid rgba(0, 0, 0, 0.04);
}

.header__subnav {
    display: none;
}

/* hết phần của thông báo */

/* phần này của tài khoản user */
.header-user {
    position: relative;
}

.header-user:hover .dialog-user {
    display: block;
    animation: showDialog .2s forwards;
}

.dialog-user {
    width: 16rem;
    z-index: 3;
    cursor: pointer;
    padding: 0;
    display: none;
}

.dialog-user p {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 4px 4px;
}

.dialog-user .dialog-item {
    margin: 0;
}

.dialog-user span {
    padding: 8px 0;
    border-top: 0.5px solid rgba(34, 34, 34, 0.247);
}

.dialog-user span:hover {
    opacity: 0.8;
    transition: .3s;
}

.header-with {
    align-items: center;
    padding: 32px 0 16px;
}

.header-with_icon a {
    font-size: 3rem;
}

.header-with__search {
    height: 3rem;
    flex: 1;
    display: flex;
    margin: 0 12px;
}

.header-with__search .header-input {
    height: 100%;
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.5rem;
    padding: 0;
    position: relative;
}

/* phần này viết cho gợi ý lịch sử tìm kiếm */
.header-input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 8px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header-input input:focus~.sub-input-history {
    display: block;
    animation: showHistory .3s forwards;
}

.header-input p {
    padding: 8px 8px;
}

.sub-input-history {
    z-index: 2;
    padding: 0 !important;
}

.header-input p:hover {
    background-color: rgba(204, 204, 204, 0.234);
    cursor: pointer;
}

.header-input p.sub-input-title {
    color: var(--title-opacity) !important;
    background-color: #fff !important;
    cursor: default !important;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: text;
}

/* phần viết cho dấu gạch ngăn cách input và trong shop */
.header-input::after {
    content: '';
    border-right: .5px solid rgba(204, 204, 204, 0.436);
    height: 80%;
}

/* phần viết cho ô icon tìm kiếm */
.search-opn {
    height: 100%;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}

.search-opn .place-shop-opn {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    position: relative;
    min-width: 150px;
}

.sub-nav {
    position: absolute;
    z-index: 2;
    top: 105%;
    padding: 12px 8px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 4px;
    display: none;
}

.search-opn .sub-nav p {
    cursor: pointer;
    padding: 4px 0;
}

.search-opn .sub-nav p:hover {
    color: var(--shopColor);
}

.place-shop-opn:hover .sub-nav {
    display: block;
    animation: showHistory .3s forwards;
}

.search-opn i {
    color: var(--text-color);
    font-size: 1rem;
    padding: 0 8px;
    font-weight: bold;
}

.search-icon {
    width: 60px;
    height: 90%;
    background-color: var(--shopColor);
    border-radius: 2px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    cursor: pointer;
}

.search-icon:hover {
    opacity: 0.7;
}

.search-icon i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.header-with i {
    padding: 0 12px;
}

.header-with__bag {
    position: relative;
    float: right;
}

.bag-icon-dialog {
    display: none;
    padding: 0;
    max-height: 80vh;
    z-index: 4;
}

.dialog-item-bag {
    padding: 0 12px;
    justify-content: space-around;
}

.dialog-bag-btn {
    height: 30px;
    margin: 12px 0 20px;
}

.header-with__bag:hover .bag-icon-dialog {
    display: block;
    animation: showDialog 0.2s forwards;
}

.header-with__bag i {
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

/* tạo ra số lượng trên biểu tượng giỏ hàng */
.header-with__bag i::after {
    content: '3';
    position: absolute;
    top: -12px;
    right: 2px;
    border-radius: 100%;
    border: 2px solid var(--shopColor);
    text-align: center;
    background-color: #fff;
    color: var(--shopColor);
    font-size: 12px;
    padding: 4px 5px;

}

/* <!-- phần viêt cho dialog của giỏ hàng --> */

.bag-icon-dialog img {
    width: 4rem;
    height: 4rem;
}

.bag-info-text {
    padding: 0 12px;
    max-width: 220px;
}

.bag-info-text h2 {
    color: var(--text-color);
    margin-bottom: 8px;
    margin-top: -4px;
    display: inline-block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.bag-info-text p {
    font-size: 1.4rem;
    color: #555;
}

.header-bag-price {
    font-size: 1.3rem;
    color: #ccc;
}

.bag-price {
    color: var(--shopColor);
    font-size: 1.6rem;
    padding-right: 4px;
}

.bag-price-clear {
    display: block;
    float: right;
    font-size: 1.6rem;
    padding-top: 12px;
    color: var(--text-color);
}

.bag-price-clear:hover {
    color: var(--shopColor);
    cursor: pointer;
}

.bag-icon-dialog button:hover {
    opacity: 0.8;
}


/* phần này của trang chủ */
#home {
    margin-top: 36px;
    font-size: 1.6rem;
    color: var(--text-color);
}

.home-subnav {
    background-color: #fff;
    align-self: flex-start;
    margin: 0 4px;
    padding: 16px 0 10px;
    border-radius: 2px;
}

.home-subnav h2 {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 400;
    padding: 0 12px;
}

.home-subnav ul {
    list-style: none;
    padding-top: 16px;
    padding-bottom: 0;
    font-size: 1.5rem;
}

.home-subnav ul li {
    padding: 8px 0;
    position: relative;
}

.home-subnav ul li a {
    padding: 0 12px;
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
}

.home-subnav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 12px;
    border-bottom: 0.1px solid #ccc;
    width: 80%;
}

.home-subnav ul li:last-child::after {
    display: none;
}

.home-subnav ul li a:hover {
    color: var(--shopColor);
}

.home-subnav ul li:first-child a {
    color: var(--shopColor);
}

.home-subnav ul li:last-child {
    border: none;
}

.home-main__header {
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px 12px;
    border-radius: 2px;
}

.home-header-right {
    align-items: center;
    flex-wrap: nowrap;
}

.home-header-left {
    align-items: center;
    flex-wrap: nowrap;
}

.home-header-left span {
    flex-wrap: nowrap;
}

.home-header-right p {
    margin-right: 12px;
}

.home-input {
    align-items: center;
    flex-wrap: nowrap;
    height: 40px;
    background-color: #fff;
    position: relative;
    border-radius: 2px;
}

.home-input i {
    color: var(--text-color);
    font-size: 1rem;
    padding: 0 8px;
    font-weight: bold;
}

.home-input input {
    border: none;
    padding: 0 8px;
    height: 100%;
    border-radius: 4px;
    max-width: 160px;
    outline: none;
}

/* tạo ra gợi ý để gõ vào input trong nội dung header-home */
.home-input .sub-input p {
    padding: 4px 0;
    cursor: pointer;
}

.home-input .sub-input p:hover {
    color: var(--shopColor);
}

.home-input:hover .sub-input {
    display: block;
    animation: showHistory .3s forwards;
}

.home-header-left span {
    padding-right: 12px;
}

.home-header-left p {
    color: var(--shopColor);
}

.home-header-pre,
.home-header-next {
    height: 40px;
    background-color: #fff;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 4px;
    font-size: 1rem;
}

.home-header-pre {
    color: var(--title-opacity);
    cursor: default;
}

/* Phần này của subnav trang chủ với tablet và mobile */
.home-main__subnav {
    display: none;
    margin: 0 0 12px;
}

.home-main__subnav--1,
.home-main__subnav--2,
.home-main__subnav--3 {
    text-align: center;
    padding: 4px 4px;
    border-radius: 4px;
}

.home-main__subnav a {
    display: block;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-main__subnav--1 {
    background-color: #87AFD8;
}

.home-main__subnav--2 {
    background-color: #76C9BD;
}

.home-main__subnav--3 {
    background-color: #88CF81;
}


.home-main__subnav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

/* phan nay cua card-product */
.home-main__card {
    margin-top: 10px;
}

.card-product-favourite {
    background-color: var(--shopColor);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    padding: 2px 4px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    position: absolute;
    top: 8px;
    left: -1px;
    cursor: pointer;
}

/* tạo ra phần khoanh vải của card product*/
.card-product-favourite::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--shopColor);
    filter: brightness(60%);
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
}

.card-product-sale {
    width: 42px;
    height: 42px;
    background-color: var(--subShopColor);
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 2px;
}

.card-product-sale p:first-child {
    color: var(--shopColor);
    font-size: 1.2rem;
    font-weight: 500;
}

.card-product-sale p:last-child {
    font-size: 1.3rem;
    color: #fff;
}

/* Tạo ra phần sale dính lên product kiểu vải */
.card-product-sale::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 21px 4px;
    border-style: solid;
    color: var(--subShopColor);
    border-color: transparent currentColor transparent currentColor;
}

/* phần này của home next */
.home-main__next {
    padding: 48px 0;
    justify-content: center;
    justify-content: space-between;
}

.home-main__next a {
    color: rgba(51, 51, 51, 0.398);
    text-decoration: none;
    padding: 6px 16px;
    font-size: 2rem;
}

.home-main__next a:first-child {
    cursor: default;
}

.home-main__next a:nth-child(2) {
    color: #fff;
}

.home-main__next i {
    font-size: 1.2rem;
}

.home-main__next a.home-next-icon {
    color: var(--text-color);
}

/* phần footer */
#footer {
    background-color: #f8f8f8;
    border-top: 3px solid var(--shopColor);
    padding-top: 32px;
}

.main-footer {
    padding-bottom: 24px;
}

.footer-item {
    padding: 0 4px;
    flex: 1;
}

.footer-item h3 {
    padding-bottom: 12px;
    font-size: 1.4rem;
    max-width: 240px;
}

#footer li {
    list-style: none;
    padding: 8px 0;
}

#footer li a {
    color: rgba(74, 73, 73, 0.987);
    text-decoration: none;
    font-size: 1.2rem;
}

#footer li a:hover {
    color: var(--shopColor);
    transition: .3s;
}

.footer-contact-app {
    padding-top: 12px;
}

.footer-qr {
    width: 80px;
    height: 80px;
    margin-right: 12px;
    border: 0.5px solid rgba(0, 0, 0, 0.282);
}

.footer-item ul img {
    width: 80px;
    height: auto;
}

#footer .footer-copyright {
    background-color: rgba(204, 204, 204, 0.56);
    text-align: center;
    padding: 8px 0;
    font-size: 1.3rem;
    color: rgb(109, 109, 109);
}

/* Phần class phục vụ JS */
.show-js {
    display: block;
    animation: showHistory .3s forwards;
}

.appear {
    display: flex !important;
}

.hidden {
    opacity: 0;
    transition: .5s;
}

.show {
    display: block;
}